---
const LogoParts = [
  "https://res.cloudinary.com/desaac6ma/image/upload/v1706390296/Slider%20portfolio/Partes%20del%20Logo%20Portfolio/Logo1_xhi8sk.png",
  "https://res.cloudinary.com/desaac6ma/image/upload/v1706390296/Slider%20portfolio/Partes%20del%20Logo%20Portfolio/Logo2_czkjgk.png",
  "https://res.cloudinary.com/desaac6ma/image/upload/v1706390296/Slider%20portfolio/Partes%20del%20Logo%20Portfolio/Logo3_fushyr.png",
  "https://res.cloudinary.com/desaac6ma/image/upload/v1706390296/Slider%20portfolio/Partes%20del%20Logo%20Portfolio/Logo4_owcf26.png",
  "https://res.cloudinary.com/desaac6ma/image/upload/v1706390296/Slider%20portfolio/Partes%20del%20Logo%20Portfolio/Logo5_ugo5j1.png",
];
---

<a
  href="/"
  class="relative w-full h-[150px] hover:animate-pulse hover:animate-infinite hover:animate-duration-1000 hover:animate-delay-700 hover:animate-ease-in hover:cursor-pointer"
>
  <img
    src={LogoParts[0]}
    class="w-[150px] absolute z-5 animate-fade-right animate-duration-[2000 ms] animate-delay-200 animate-ease-in-out animate-normal"
  />
  <img
    src={LogoParts[1]}
    class="w-[150px] absolute z-4 animate-fade-right animate-duration-1000 animate-delay-500 animate-ease-in-out animate-normal"
  />
  <img
    src={LogoParts[2]}
    class="w-[150px] absolute z-3 animate-fade-right animate-duration-1000 animate-delay-100 animate-ease-in-out animate-normal"
  />
  <img
    src={LogoParts[3]}
    class="w-[150px] absolute z-2 animate-fade-right animate-duration-1000 animate-delay-700 animate-ease-in-out animate-normal"
  />
  <img
    src={LogoParts[4]}
    class="w-[150px] relative z-1 animate-fade-left animate-duration-1000 animate-delay-1000"
  />
</a>
